<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
<main class="main">
  <div class="chat-container">
    <div class="chat-box">
        <div class="message received">
          <span class="material-icons">support_agent</span> Hola, ¿qué quieres saber?
        </div>
        <div class="message sent">
          <span class="material-icons">face</span>¡Hola!
        </div>
    </div>
  </div>
</main>
<div class="input-box">
    <input type="text" placeholder="Escribe tu mensaje...">
    <button class="rounded-circle">
      <span class="material-icons">send</span>
    </button>

</div>
